In [36]:
import destinations
import pandas as pd

destinations_list = ["Mont Saint Michel",
                        "St Malo",
                        "Bayeux",
                        "Le Havre",
                        "Rouen",
                        "Paris",
                        "Amiens",
                        "Lille",
                        "Strasbourg",
                        "Chateau du Haut Koenigsbourg",
                        "Colmar",
                        "Eguisheim",
                        "Besancon",
                        "Dijon",
                        "Annecy",
                        "Grenoble",
                        "Lyon",
                        "Gorges du Verdon",
                        "Bormes les Mimosas",
                        "Cassis",
                        "Marseille",
                        "Aix en Provence",
                        "Avignon",
                        "Uzes",
                        "Nimes",
                        "Aigues Mortes",
                        "Saintes Maries de la mer",
                        "Collioure",
                        "Carcassonne",
                        "Ariege",
                        "Toulouse",
                        "Montauban",
                        "Biarritz",
                        "Bayonne",
                        "La Rochelle"]

#destinations_list = destinations.destinationsList

In [37]:
print(destinations_list)

['Mont Saint Michel', 'St Malo', 'Bayeux', 'Le Havre', 'Rouen', 'Paris', 'Amiens', 'Lille', 'Strasbourg', 'Chateau du Haut Koenigsbourg', 'Colmar', 'Eguisheim', 'Besancon', 'Dijon', 'Annecy', 'Grenoble', 'Lyon', 'Gorges du Verdon', 'Bormes les Mimosas', 'Cassis', 'Marseille', 'Aix en Provence', 'Avignon', 'Uzes', 'Nimes', 'Aigues Mortes', 'Saintes Maries de la mer', 'Collioure', 'Carcassonne', 'Ariege', 'Toulouse', 'Montauban', 'Biarritz', 'Bayonne', 'La Rochelle']

In [38]:
df = pd.DataFrame (destinations_list, columns = ['cities'])
print (df)

                          cities
0              Mont Saint Michel
1                        St Malo
2                         Bayeux
3                       Le Havre
4                          Rouen
5                          Paris
6                         Amiens
7                          Lille
8                     Strasbourg
9   Chateau du Haut Koenigsbourg
10                        Colmar
11                     Eguisheim
12                      Besancon
13                         Dijon
14                        Annecy
15                      Grenoble
16                          Lyon
17              Gorges du Verdon
18            Bormes les Mimosas
19                        Cassis
20                     Marseille
21               Aix en Provence
22                       Avignon
23                          Uzes
24                         Nimes
25                 Aigues Mortes
26      Saintes Maries de la mer
27                     Collioure
28                   Carcassonne
29                        Ariege
30                      Toulouse
31                     Montauban
32                      Biarritz
33                       Bayonne
34                   La Rochelle

In [39]:
# importing geopy library
from lib2to3.pgen2.pgen import DFAState
from geopy.geocoders import Nominatim

# getting length of list
length = len(df)

# calling the Nominatim tool
loc = Nominatim(user_agent="GetLoc")

df = df.assign(latitude='0')
df = df.assign(longitude='0')


for i in df.index:
    getLoc = loc.geocode(df['cities'][i])
    df['latitude'][i] = getLoc.latitude
    df['longitude'][i] = getLoc.longitude

df

                          cities   latitude longitude
0              Mont Saint Michel  48.635954  -1.51146
1                        St Malo  48.649518 -2.026041
2                         Bayeux  49.276462 -0.702474
3                       Le Havre  49.493898  0.107973
4                          Rouen  49.440459  1.093966
5                          Paris   48.85889  2.320041
6                         Amiens  49.894171  2.295695
7                          Lille  50.636565  3.063528
8                     Strasbourg  48.584614  7.750713
9   Chateau du Haut Koenigsbourg   48.24949  7.344296
10                        Colmar  48.077752  7.357964
11                     Eguisheim  48.044797  7.307962
12                      Besancon  47.238022  6.024362
13                         Dijon  47.321581   5.04147
14                        Annecy  45.899235  6.128885
15                      Grenoble   45.18756  5.735782
16                          Lyon  45.757814  4.832011
17              Gorges du Verdon  43.749656  6.328562
18            Bormes les Mimosas  43.150697  6.341928
19                        Cassis  43.214036  5.539632
20                     Marseille  43.296174  5.369953
21               Aix en Provence  43.529842  5.447474
22                       Avignon  43.949249  4.805901
23                          Uzes  44.012128  4.419672
24                         Nimes  43.837425  4.360069
25                 Aigues Mortes  43.565823  4.191284
26      Saintes Maries de la mer  43.452277  4.428717
27                     Collioure   42.52505  3.083155
28                   Carcassonne  43.213036  2.349107
29                        Ariege  42.945537  1.406554
30                      Toulouse  43.604462  1.444247
31                     Montauban  44.017584  1.354999
32                      Biarritz  43.471144 -1.552727
33                       Bayonne  43.494514 -1.473666
34                   La Rochelle  46.159113 -1.152043

In [57]:
weather_api_key = '3ee996f64e301bac44b70a171911b57f'

import urllib.request, json 

for i in df.index:
    lat = str(df['latitude'][i])
    long = str(df['longitude'][i])
    with urllib.request.urlopen("https://api.openweathermap.org/data/2.5/forecast?lat="+lat+"&lon="+long+"&appid="+weather_api_key+"&units=metric&lang=fr") as url:
        data = json.load(url)
    
    for i in data:
        print(i.list)

    

#json_data = [] # your list with json objects (dicts)

TypeError: string indices must be integers